html{

  background-color: #e8e8e8;
  font-family: 'Jua', sans-serif;
}

.container{
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.frame{
  background-color: white;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 5%;

  border:2px solid white;
  border-radius: 15px;
  width: 45%;
  height: 800px;
  overflow-y: scroll;
}
.info{
  text-align: center;
}
.info input{
  text-align: center;
  width: 70%;
  height: 30px;
}
.info span{
  color: red;
}
::-webkit-scrollbar{
  display: none;
}
.frame_2{
  background-color: white;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 5%;
  width: 45%;
  height: 800px;
  border:2px solid white;
  border-radius: 15px;
}
#map{
  margin: auto;
  margin-top: 50px;
}

.information hr{
  width: 85%;
}
.link button{
  font-family: 'Jua', sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  width: 230px;
  height: 60px;
  color: black;
  border: 2px solid #BBD1E8;
  background-color: #BBD1E8;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}
.link button:hover{
  color: red;
  border: 2px solid black;
}
.board{

  width: 60%;
  height: 300px;
  border:2px solid white;
  border-radius: 15px;
  background-color: white;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
.number{
  animation: fadein 3s;
 -webkit-animation: fadein 3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board h4{
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.confirmed{
  color: #0000cd;

}
.recovered{
color: #7cfc00;

}
.deathed{
color: #8b0000;

}
.topic{
  color: black;
}
.nav{
  background-color: white;
  height: 70px;
}
.blinking{ 
  -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
  -moz-animation:blink 1.5s ease-in-out infinite alternate; 
  animation:blink 1.5s ease-in-out infinite alternate; 
}
@-webkit-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} } @-moz-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} } @keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }

